/* Added padding marging to 0 because browsers automatically add padding and margin */
body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
/* Made Flexbox for my children .Navlinks and .Navlogo */
/* I used space-between so they appear at the ends of the flexbox */
.NavBar {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*Since they are links i used display:flex to make sure they go horizontally  */
/* Added padding so they have a lil bit more space */
/* Added gap so the boxes are a little bit farther apart  */
.NavLinks,
.NavLogo {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  font-size: 20px;
}
.NavLogo {
  margin-left: 10rem;
}
.NavLinks {
  margin-right: 10rem;
}
/* removes the numbers/bullet points */
ul {
  list-style: none;
  color: white;
}
/* removes the underline on links */
a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 77px;
  margin: 0;
  padding: 0;
}

p {
  font-size: 25px;
}

.FirstSection {
  display: flex;
  justify-content: center;
  background-color: #1f2937;
  gap: 5em;
  color: white;
}

.FirstSectionLeftBox,
.FirstSectionRightBox {
  flex: 1;
  height: 300px;
}

.FirstSectionLeftBox {
  margin-top: 5rem;
  margin-left: 10rem;
  margin-bottom: 10rem;
}

.FirstSectionRightBox {
  margin-top: 5rem;
  margin-right: 10rem;
  margin-bottom: 5rem;
}

.FirstSectionSubtext {
  margin: 0;
  padding: 0;
  margin-bottom: 0.5em;
}

button {
  font-size: 25px;
  font-weight: 700;
  color: white;
  background-color: #3882f6;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  border-radius: 1em;
}

.SecondSection {
  background-color: white;
  text-align: center;
}

.SecondSectionTitle {
  font-weight: 700;
  font-size: 50px;
}

.SecondSectionBox {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.imlost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  margin-bottom: 10rem;
}
.imlost img {
  border: 3px solid #1f2937;
  border-radius: 1rem;
}

.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #1f2937;
  color: white;
}

.ThirdSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-style: italic;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #e5e7eb;
}

.ThirdSection p {
  font-size: 40px;
  padding-top: 1rem;
}

.FourthSection {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.isuck {
  display: flex;
  background-color: #3882f6;
  justify-content: space-between;
  align-items: center;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 1rem;
  gap: 10rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.ButtonTwo {
  border: 2px solid white;
}

.FourthSectionLeft {
  color: white;
  margin: 0;
  padding: 0;
  font-size: 25px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.actiontitle {
  border: 1px solid red;
}

.text1 {
  font-weight: 700;
  font-size: 30px;
}
